nav {
    background-color: black;
    color: white;
}

p {
	color: white;
	font-size: 20px;
}

.header {
    color: blue;
    text-align: center;
}

.parallax-container {
   
}

.opacity {
    background: rgba(0, 0, 0, 0.6);
}

.slide-nav {
    background-color: black;
    color: white;
}
a:hover {
	background-color: rgba(0, 0, 0, 0.6);
	border: 10px;
	border-color: red;
}

