nav {
    background-color: black;
    color: white;
}

p {
	color: white;
	font-size: 20px;
}
a:hover {
	color: lightblue;
}
nav ul a:hover {
	background-color: transparent !important;
}

.header {
    color: blue;
    text-align: center;
}
.capfont {
	font-family: 'Cormorant SC', serif;
}
.font {
	font-family: 'Cormorant', serif;
}
.pad {
	padding: 50px 30px 50px 80px;
	margin-top: 100px;
}
.lineheight {
	line-height: 120%;
}

.parallax-container {
   
}
.fill {
	width: 100%;
}
.justify {
	text-align: justify;
    text-justify: inter-word;
}

.opacity {
    background: rgba(0, 0, 0, 0.6);
}

.slide-nav {
    background-color: black;
    color: white;
}


